/* Estilos para o container principal */
.logo {
    display: flex;
    height: 8%;
    left: 8%;
    margin-right: 70%;  
    margin-top: -110px;  
    
}
.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
    background-color: var(--roxo-claro);
}

/* Estilos para o título do formulário */
.titulo {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
    margin-left: 30%;

}

/* Estilos para o formulário */
.formulario {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 450px;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* Estilos para os campos de entrada */
.campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
}

/* Estilos para o botão de submit */
.botao {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: var(--azul-claro);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #A3D5FD;
}

/* Estilos para mensagens de erro */
.erro {
    color: red;
    font-size: 0.875em;
    margin-bottom: 10px;
}
