.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo-claro);
    padding: 20px; 
    h1 {
        color: var(--branco);
        font-size: 30px;
        margin-left: 10px; 
    }
}



span {
    
    font-size: 32px; 
}
