:root{
  --branco:#FFFFFF;
  --azul-claro:#bee2fd;
  --preto:#000000;   
  --roxo-claro:#D0D1FF; 
  --roxo-escuro:#8B8DFE; 
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--branco);
  font-family: 'Jost', sans-serif;
  font-weight: bold; /* Correct property for bold text */
  font-size: 24px;
}

h1{
  color:(--cinza-claro)
}